@import url(normalize.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: var(--text);
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --accent-bg: #EEEDEB;
    --header-footer: #ECE6DF;
    --selected-active-component: #00AEFD;
    --theme: #B236D6;
    --submit: #1EB948;
    --page: #F8EEEC;
    --bg-draw: #FFD5A3;
    --text: #333;
    --white: #FFF;
}

html {
    scroll-behavior: smooth;
}

header {
    text-align: center;
    padding: 24px 80px;
    flex-direction: row;
    display: flex;
    align-items: center;
    padding: 20px 40px;
    width: 100%;
}