@import url(normalize.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: var(--text);
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --accent-bg: #EEEDEB;
    --header-footer: #ECE6DF;
    --selected-active-component: #00AEFD;
    --theme: #B236D6;
    --submit: #1EB948;
    --page: #F8EEEC;
    --bg-draw: #FFD5A3;
    --text: #333;
    --white: #FFF;
}

html {
    scroll-behavior: smooth;
}

header {
    text-align: center;
    padding: 24px 80px;
    flex-direction: row;
    background-color: var(--header-footer);
    display: flex;
    align-items: center;
    padding: 20px 40px;
    width: 100%;
}

main {
    padding: 24px 80px;
    flex-direction: column;
    background-color: var(--accent-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    min-height: 100vh;
}

footer {
    padding: 24px 80px;
    background-color: var(--header-footer);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 40px;
}

h1 {
    margin: 0;
}

a:not(.nav-left>a) {
    font-size: 16px;
    text-decoration: none;
    width: 120px;
    border-radius: 8px;
    padding: 12px 24px;
    background-color: var(--submit);
    color: var(--white);
    transition: all ease-in-out 0.3s;
    border: 1px solid transparent;
}

a:hover:not(.nav-left>a) {
    color: var(--submit);
    background-color: var(--white);
    border: 1px solid var(--submit);
}

.nav-left {
    margin-right: auto;
}

.nav-left img {
    width: 60px;
    transition: all ease-in-out 0.3s;
}

.nav-left img:hover {
    transform: scale(1.2);
}

.nav-right a {
    margin-left: 20px;
}

.mid {
    width: 80%;
    background-color: var();
    border-radius: 16px;
    padding: 40px;
}

.presentation {
    margin: 40% 0;
}

.presentation a,
.donate a {
    display: block;
    text-align: center;
    margin: 0 auto;
}

.presentation h1 {
    margin-bottom: 40px;
    font-size: 40px;
    text-transform: uppercase;
}

.presentation p,
.donate p {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.5;
}